<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="">
<meta content="April 10, 2016 - Sunday" name="og:description">
<meta content="http://celebrateourlove.us/assets/images/sunset-og.jpg" name="og:image">
<title>BEZ &amp; LLEWELYN | Celebrate Our Love</title>
<link rel="icon" href="/assets/images/favicon.jpg">
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- inject:css -->
<link rel="stylesheet" href="/assets/stylesheets/style-9b64dd1fc0.min.css">
<!-- endinject -->
</head>
