// The main SCSS file for everything, yep
@import '../css/bootstrap/bootstrap';
@import '../css/preloader';
@import '../css/preloader-default';
@import '../css/flexslider/flexslider';
@import '../css/animate/animate';
@import '../css/countdown/jquery.countdown';
@import '../css/magnific-popup/magnific-popup';
@import '../css/owlcarousel/owl.carousel';
@import '../css/owlcarousel/owl.theme';
@import '../css/fonts/fontello/css/fontello';
@import "../css/style";

.main-section {
  padding: 140px 0;
}

section#travel {
  background-color: #f6f6f6;
}

#save-the-date {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

#naia-notice-section {
  padding: 50px 0;

  .bg-danger {
    padding: 20px; 
    background-color: #F0394D;
    color: #FFFFFF;

    a, a:visited, a:active {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

#hotels {
  padding: 50px 0; 

  .hotel-item {
    margin-bottom: 20px;
  }
}

#where-when {
  padding-bottom: 0px;
}

#guest-info{
  padding: 140px 0
}

h1#travel-and-accomodation-title
{
  text-align: center;
  font-size: 60px;
  padding: 60px 0;
  font-family: "Pacifico", cursive; 
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

@import '../css/skin/coral-sand/coral-sand';
