<section id="couple">
    <div class="container">
        <div class="row">
            <!-- SECTION CONTENT -->
            <div class="col-md-6">
                <!--PHOTO-ITEM-->
                <div class="photo-item frame-border animation fadeInLeft">
                    <!--PHOTO-->
                    <img src="/assets/images/bez.jpg" alt="" class="hover-animation image-zoom-in">
                    <!--PHOTO OVERLAY-->
                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div><!--END of PHOTO OVERLAY-->
                    <!--ICON LINK-->
                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                            </div>
                        </div>
                    </div><!--END of ICON LINK-->
                </div><!--END of PHOTO-ITEM-->
                <div class="his-her-name">
                    <h2 class="text-center">BEZALEL<span class="last-name">-&nbsp;Hermoso&nbsp;-</span></h2>
                    <div class="heart-wrapper">
                        <div class="de-icon circle medium-size custom-heart">
                            <i class="de-icon-heart"></i>
                        </div>
                    </div>
                </div>
                <p class="blurb animation fadeInLeft text-center"></p>
            </div>
            <div class="col-md-6">
                <!--PHOTO-ITEM-->
                <div class="photo-item frame-border animation fadeInRight">
                    <!--PHOTO-->
                    <img src="/assets/images/llewelyn.jpg" alt="" class="hover-animation image-zoom-in">
                    <!--PHOTO OVERLAY-->
                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div><!--END of PHOTO OVERLAY-->
                    <!--ICON LINK-->
                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                            </div>
                        </div>
                    </div><!--END of ICON LINK-->
                </div><!--END of PHOTO-ITEM-->
                <div class="his-her-name">
                    <h2 class="text-center">LLEWELYN FAITH<span class="last-name">-&nbsp;Lagmay&nbsp;-</span></h2>
                </div>
                <p class="blurb animation fadeInRight text-center"></p>
            </div>
        </div>
    </div>
</section>
