<section id="entourage" class="main-section">
    <div class="container">
        <!-- ROW-1 -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title animation fadeInUp">
                    <h1>
                        OUR <img src="/assets/images/heart-icon.png" alt=""> ENTOURAGE
                    </h1>
                </div>
            </div>
        </div>
        <!-- ROW-2 -->
        <div class="row">
            <!--GROOMSMEN-1-->
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/lupo-cropped.png" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">PARENTS OF THE BRIDE</a></h3>
                        <p>Mr. Romeo Lupo & Mrs. Jocelyn Lupo</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div><!--END of GROOMSMEN-1-->
            <!--GROOMSMEN-2-->
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/hermoso-cropped.png" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">PARENTS OF THE GROOM</a></h3>
                        <p>Mr. Bernardo Hermoso & Mrs. Henrietta Hermoso</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div><!--END of GROOMSMEN-2-->
            <!--GROOMSMEN-3-->
            <!--END of GROOMSMEN-1-->
            <!--GROOMSMEN-4-->
            <!--<div class="col-md-12">-->
                <!--<div class="section-title text-center">-->
                    <!--<h2>PRIMARY SPONSORS</h2>-->
                <!--</div>-->
            <!--</div>-->
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/grinos.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">PRIMARY SPONSOR</a></h3>
                        <p>Mr. Edgar D. Griño Jr. & Mrs. Joanna Chua Griño</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div><!--END of GROOMSMEN-4-->
            <!--GROOMSMEN-5-->
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/joe-and-virgie.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">PRIMARY SPONSOR</a></h3>
                        <p>Mr. Joseph Ciraula & Mrs. Virginia Kintanar</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div><!--END of GROOMSMEN-5-->
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/linh.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">MATRON OF HONOR</a></h3>
                        <p>Mrs. Linh Bui</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/dyosep.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">BEST MAN</a></h3>
                        <p>Mr. Joseph Angelo Rendon</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/jessica.png" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">BRIDESMAID</a></h3>
                        <p>Ms. Jessica Tang</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/bench.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">GROOMSMAN</a></h3>
                        <p>Bench Jefferson Lupo</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/maymay.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">BRIDESMAID</a></h3>
                        <p>Ms. Marlinda Boncales</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/danny.png" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">GROOMSMAN</a></h3>
                        <p>Mr. Danny Tang</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-offset-3 col-md-6">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/rj.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">RING/COIN BEARER</a></h3>
                        <p>Rjllebench Lupo</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-4">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/oleas.png" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">CANDLES</a></h3>
                        <p class="no-margin">Mr. Noel Olea</p>
                        <p class="no-margin">Atty. Angelica Batiquin-Olea</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-4">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/pawpaw-and-crystal.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">VEIL</a></h3>
                        <p class="no-margin">Mr. Marlon Roy Surban</p>
                        <p class="no-margin">Ms. Rubileen Joy San Juan</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
            <div class="col-md-4">
                <!--GROOMSMEN-ITEM-->
                <div class="groomsmen-item">
                    <!--PHOTO-ITEM-->
                    <div class="photo-item frame-border animation fadeIn">
                        <!--PHOTO-->
                        <img src="/assets/images/thom-and-donna.jpg" alt="" class="hover-animation image-zoom-in">
                        <!--PHOTO OVERLAY-->
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div><!--END of PHOTO OVERLAY-->
                        <!--ICON LINK-->
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                </div>
                            </div>
                        </div><!--END of ICON LINK-->
                    </div><!--END of PHOTO-ITEM-->
                    <!-- TITLE & EXCERPT -->
                    <div class="title-excerpt animation fadeIn text-center">
                        <h3 class="no-margin"><a href="#">CORD</a></h3>
                        <p class="no-margin">Mr. John Thomas Pua</p>
                        <p class="no-margin">Ms. Donna Maniago</p>
                    </div><!-- END of TITLE & EXCERPT -->
                </div><!--END of GROOMSMEN-ITEM-->
            </div>
        </div>
        <!-- END of ROW-2 -->
    </div>
</section>
<section id="photo-divider-3">
    <div class="image-divider fixed-height" style="background-image:url(/assets/images/tree.png); height:450px" data-stellar-background-ratio="0.3">
    </div>
</section>
