<section id="gallery-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <div class="section-title animation fadeInUp">
                    <h2>
                        OUR <img src="/assets/images/heart-icon.png" alt=""> GALLERY
                    </h2>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="photo-item frame-border animation fadeIn">
                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">
                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>
                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/500x750" class="magnific-zoom-gallery" title="Attachment-1">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x394" class="magnific-zoom-gallery" title="Attachment-2">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-3">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-4">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-5">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-6">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-7">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-8">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="photo-item frame-border animation fadeIn">

                    <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

                    <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                    </div>

                    <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                        <div class="alignment">
                            <div class="v-align center-middle">
                                <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-9">
                                    <div class="de-icon circle light medium-size inline">
                                        <i class="de-icon-zoom-in"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
