<section id="gift-section">
<div class="container">
    <!-- ROW-1 -->
    <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-1 col-md-10 text-center">
            <div class="section-title animation fadeInUp">
                <h2>
                    GIFT REGISTRY
                </h2>
                <!--<p>-->
                <!--While your attendance alone is what we request, if you wish to buy us a gift then we have a small gift list at Amazon linked below.</p>-->
                <!--<p>-->
                <!--If you are planning to give us a large gift, please contact us so that we can provide you our U.S. address for you to ship to. </p>-->
            </div>
        </div>
        <div class="col-md-offset-2 col-md-8 text-center">
            <a href="https://www.amazon.com/registry/wedding/LHXZ2UG2IABT" class="btn btn-default amazon-btn btn-lg animation fadeIn">View our wedding registry</a>
        </div>
    </div> <!-- END of ROW-1 -->
    <!-- ROW-1 -->
    <!--<div class="row">-->
    <!--<div class="col-md-offset-1 col-md-10 text-center">-->
    <!--<div id="registry-logo" class="owl-carousel">-->
    <!--<div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>-->
    <!--<div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>-->
    <!--<div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>-->
    <!--<div class="item"> <a href="#"> <img src="http://placehold.it/249x67g" alt=""> </a> </div>-->
    <!--<div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</section>
