<section id="guest-info">
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
            <div class="section-title animation fadeInUp">
                <h2>GUEST INFORMATION</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="events-carousel" class="owl-carousel">
                <div class="item">
                    <div class="photo-item animation fadeIn">
                        <img src="/assets/images/closet.png" alt="" class="hover-animation image-zoom-in">
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div>
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                    <a href="/dress-code/">
                                        <div class="de-icon circle light medium-size inline">
                                            <i class="de-icon-link"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-excerpt animation fadeIn">
                        <h3><a href="/dress-code/">WHAT TO WEAR</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna urna, imperdiet et purus ut, ultricies sollicitudin arcu. Cras placerat, arcu non faucibus suscipit, ex arcu consectetur enim.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="photo-item animation fadeIn">
                        <img src="/assets/images/passport.png" alt="" class="hover-animation image-zoom-in">
                        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                        </div>
                        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                            <div class="alignment">
                                <div class="v-align center-middle">
                                    <a href="/travel/">
                                        <div class="de-icon circle light medium-size inline">
                                            <i class="de-icon-link"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-excerpt animation fadeIn">
                        <h3><a href="/travel/">TRAVEL & ACCOMODATION</a></h3>
                        <p>Flying in from outside the Philippines? Read our guide on travelling tips, important information regarding travelling to the Philippines, and some suggestions for things to do!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
