<section id="where-when">
<div class="container">
    <!-- ROW-1 -->
    <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-offset-2 col-md-8 text-center">
            <div class="section-title animation fadeInUp">
                <h2>
                    WHERE <span class="and">&amp;</span> WHEN
                </h2>
            </div>
        </div>
    </div> <!-- END of ROW-1 -->
    <!-- ROW-2 -->
    <div class="row">
        <!-- SECTION TITLE -->
        <div class="col-md-12 text-center">
            <div class="banner-text dark full animation fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <h3>APRIL 10TH, 2016</h3>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- END of ROW-2 -->
    <!-- ROW-3 -->
    <div class="row">
        <div class="col-md-6">
            <div class="white-box-content-wrapper animation fadeInLeft animated" style="visibility: visible;">
                <h3>CEREMONY - 2:00 PM</h3>
                <span>St. Therese of the Child Jesus Parish</span>
                <br><br>
                <p>
                Pasteur Street, Lahug<br>
                Cebu City<br>
                Cebu, Philippines<br>
                </p> 
                <img src="/assets/images/st-therese.jpg" alt="" class="fullwidth">
            </div>
        </div>
        <div class="col-md-6">
            <div class="white-box-content-wrapper animation fadeInRight animated" style="visibility: visible;">
                <h3>RECEPTION - 6:00 PM</h3>
                <span>Ocean Pavilion</span>
                <br> <br>
                <p>
                Shangri-la¹s Mactan Resort & Spa<br>
                Punta Engano, Mactan<br>
                Cebu, Philippines<br>
                </p>
                <img src="/assets/images/pavilion.jpg" alt="" class="fullwidth">
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-6 animation fadeIn">-->
    <!--<div class="de-icon circle small-size inline" style="background-color:#f0394d">-->
    <!--<i class="de-icon-bell-alt"></i>-->
    <!--</div>-->
    <!--<h3 class="inline">CEREMONY</h3>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue</p>-->
    <!--<div class="de-icon circle small-size inline" style="background-color:#f6700e">-->
    <!--<i class="de-icon-food"></i>-->
    <!--</div>-->
    <!--<h3 class="inline">RECEPTION</h3>-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue</p>-->
    <!--</div>-->
    <!--<div class="col-md-6 animation fadeIn">-->
    <!--<div id="map-canvas" style="border:15px solid #FFF; margin-top:20px;"></div>-->
    <!--</div>-->
    <!--</div> [> END of ROW-3 <]-->
</div>
</section>
<section>
<div id="map-canvas" style="height:300px; width:100%;"></div>
</section>
