---
layout: default
regenerate: true
---
<!--COUPLE SECTION-->
{% include sections/couple.html %}
<!-- PHOTO DIVIDER -->
<section id="photo-divider">
    <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:600px" data-stellar-background-ratio="0.3">
    </div>
</section>
<!-- OUR STORY SECTION -->
{% include sections/our-story.html %}
<!-- PHOTO DIVIDER -->
<!--<section id="photo-divider-1">-->
<!--<div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:500px" data-stellar-background-ratio="0.3">-->
<!--</div>-->
<!--</section>     -->
<!-- WHERE WHEN SECTION -->
{% include sections/where-and-when.html %}
<!-- GALLERY SECTION -->
<!-- MORE EVENTS SECTION -->
<!-- PHOTO DIVIDER -->
<!--<section id="photo-divider-2"> <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:450px" data-stellar-background-ratio="0.3">-->
    <!--</div>-->
<!--</section>-->
{% include sections/entourage.html %}
{% include sections/guest-info.html %}
<!-- GIFT REGISTRY SECTION -->
{% include sections/gifts.html %}
<!-- RSVP SECTION -->
{% include sections/guestbook.html %}
<footer>
    <div class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080);" data-stellar-background-ratio="0.5" >
        <div class="divider-overlay"></div>
        <!-- Use Center Middle Alignment to align middle the content for fixed-height parallax -->
        <div class="alignment">
            <div class="v-align center-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="animation fadeInUp">
                                <div id="thank-you">
                                    <div id="thank">Thank</div>
                                    <div id="you">You</div>
                                </div>
                            </div>
                            <div class="heart-divider animation delay1 fadeInUp">
                                <span class="white-line"></span>
                                <i class="de-icon-heart pink-heart"></i>
                                <i class="de-icon-heart white-heart"></i>
                                <span class="white-line"></span>
                            </div>
                            <div id="footer-couple-name" class="animation delay1 fadeInUp">
                                BEZ & LLEWELYN
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
